@import "tailwindcss";

@theme {
  /* Colores oficiales */
  --color-f1-red: #e10600;
  --color-f1-black: #15151e;
  --color-f1-dark: #0b0b0f;

  /* Tipografía oficial */
  --font-f1: "Formula1", sans-serif;
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Regular_web_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-f1-dark text-white font-f1 antialiased;
}