@import "tailwindcss";

@theme {
  /* Colores oficiales ajustados */
  --color-f1-red: #e10600;
  --color-f1-black: #15151e;
  --color-f1-dark: #0a0a0a;

  /* Tipografía oficial */
  --font-f1: "Formula1", sans-serif;
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Regular_web_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* --- ESTILOS BASE DEL BODY --- */
body {
  /* Mantenemos solo el color de fondo sólido por si el vídeo falla */
  @apply bg-f1-dark text-white font-f1 antialiased relative min-h-screen;
}

@layer base {
  body {
    @apply select-none;
    /* Soporte extra para navegadores antiguos */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
}